<div class="bg">
  <div class="home">
    <div class="search">
      <app-search-flight></app-search-flight>
    </div>
    <div class="planet">
      <app-tree></app-tree>
    </div>
  </div>

  <div class="comments">

    <div class="comments cl">
      <h1>Comments about destination city:</h1>
      <app-place-comments></app-place-comments>
    </div>
    <div class="comments cr">
      <h1>Comments about Flight:</h1>
      <app-flight-comments></app-flight-comments>
    </div>
  </div>
</div>




