
button {
  padding: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 22px;
  letter-spacing:0;
}

mat-form-field {
  margin: 10px
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}
