<form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
  <mat-form-field>
    <mat-label> Email</mat-label>
    <input matInput placeholder="Ex. abcabc@gmail.com" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label> Password</mat-label>
    <input type="password" matInput placeholder="min. 15 characters" formControlName="password">
  </mat-form-field>
  <button [disabled]="!loginForm.valid" mat-raised-button type="submit" style="background-color: white;">
    <span>Sign in</span>
  </button>
</form>

